* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background: #ed6190;
  color: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}
.t-cent {
  text-align: center;
}
.container {
  max-width: 50%;
  margin: 5% auto;
}
.overall-todo {
  background: #3c424a;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
.date-format {
  padding: 10px 0 0;
  border-bottom: 1px solid #000;
}
.date-format ul {
  text-align: center;
}
.date-format ul li {
  display: inline-block;
  margin: 0 30px 0 0;
  width: 10%;
}
.date-format ul li.active {
  border: 0 solid #ddd;
  border-bottom: 0.1875rem solid #ed6190;
}
.date-format ul li a {
  padding: 8px;
  display: block;
}
#tab1-content,
#tab2-content,
#tab3-content,
#tab4-content {
  display: none;
}
.show {
  display: block !important;
}
.overall-tasks {
  padding: 40px 20px;
}
.arrow {
  flex-basis: 18%;
}
.arrow img {
  width: 40%;
  cursor: pointer;
}
.date-picker-slider {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50%;
  margin: 0 auto;
}

.date-picker-slider .day {
  margin-bottom: 5px;
  text-transform: capitalize;
}
.date-zone {
  cursor: pointer;
}
.add-task {
  padding: 50px 70px 0;
}

#task-field{
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #191b1d;
  /* border-radius: 3px; */
  background: #2b2d2f;
  box-shadow: -1px 3px 6px 1px #282b2f;
  color: #ffffff;
}
.task-content{
  padding: 20px 0;
}
.task-content h6{
  font-size: 14px;
  font-weight: normal;
}
.task-content small{
  font-size: 10px;
}
